<div id="{{codigo}}" class="articulo {{abierto}}">
	<div class="imagen {{video}}" data-imagen="{{imagen}}" style="background-image: url({{imagePath}})">
    	<a class="imageButton" href="{{link}}"></a>
    </div>
	
    <p class="volanta">{{volanta}}</p>
    <p class="titular">{{titular}}</p>
    <div class="bajada">{{{bajada}}}</div>
	<div class='mm'>{{{mm}}}</div>
    <div class="cuerpo">{{{cuerpo}}}</div>
</div>
    